/* 
CSS BEM

B -> BLOCO
E -> ELEMENTO
M -> MODIFICADOR 

font-family: 'Roboto', sans-serif;

*/

/* BODY */
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;/* como o container é filho do body, o
    width 100% vai pegar todo o espaço do elemento pai, do body, no caso */
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}
/* CABEÇALHO */
.cabecalho{
    flex-basis: 30%;
    margin-top: 20px;
    margin-left: 30px;
    min-width: 180px;
}
.cabecalho__logo{
    margin-bottom: 50px;
}
.cabecalho__logo figcaption{
    display: none;
}
.cabecalho__menuItem{
    margin-bottom: 25px;
}
.cabecalho__menuItem img{
    max-width: 26px;
}
.cabecalho__menuItem a{
    color: #000;
    text-decoration: none;
    font-size: 22px;
    vertical-align: top;
    font-weight: bold;
    padding-left: 10px;
}
a:hover{
   color: #1da1f2; 
}
/* CONTEUDO PRINCIPAL */
.conteudoPrincipal{
    flex-basis: 70%;
    border-left: 1px solid #e7ecf0;
    border-bottom: 1px solid #e7ecf0;
}
.conteudoPrincipal__titulo{
    padding: 10px 30px;
    margin-top: 40px;
    font-weight: bold ;
    font-size: 20px;
}
.conteudoPrincipal__formulario{
    padding: 10px 30px;
    border-top: 1px solid #e7ecf0;
    border-bottom: 10px solid #e7ecf0;
    text-align: right;
}
.conteudoPrincipal__formulario textarea{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    height: 55px;
}
.conteudoPrincipal__formulario button{
    background-color: #1da1f2;
    border: none;
    padding: 6px 20px;
    color: white;
    border-radius: 15px;
}
.conteudoPrincipal__listaTweets{
    display: flex;
    flex-flow: column-reverse nowrap;
}
.conteudoPrincipal__tweet{
    padding: 20px 32px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e7ecf0
}
.tweet__conteudo{
    margin-left: 15px;
}
.tweet__conteudo h2{
    display: inline-block;
}
.tweet__conteudo span{
    display: inline-block;
    color: #828282;
}
.tweet__conteudo p{
    margin-top: 15px;
    color: #333333;
    
}

/* .tweet__paragrafo{
    color: #1da1f2;
} */